<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>计算属性和监听器</title>
</head>
<body>
    <div id="root">
        姓：<input v-model="lastName">
        名：<input v-model="firstName">
        <div>{{fullName}}</div>
        <div>{{count}}</div>
    </div>

    <script>
        new Vue({
            el: "#root",
            data: {
                lastName: '',
                firstName: '',
                count: 0
            },
            computed: {
                fullName: function() {
                    return this.lastName + ' ' +this.firstName
                }
            },
            watch: {
                fullName: function() {
                    this.count++
                }
            }

        })
    </script>
</body>
</html>