<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>计算属性和监听器</title>
</head>
<body>
    <div id="root">
        姓：<input v-model="lastName">
        名：<input v-model="firstName">
        <div>{{fullName}}</div>
        <div>{{count}}</div>
        <div>Original message: {{message}}</div>
        <div>Reversed message: {{reversedMessage}}</div>
        <div>Now: {{now}}</div>
        <div class="static" v-bind:style="styleObj">lok666</div>
        <!-- 条件渲染 -->
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
        <!-- 列表渲染 -->
        <div>
            v-for 列表渲染：
            <ul>
                <li v-for="(item, index) of items" :key="index">
                    {{index}} {{item}}
                </li>
            </ul>
        </div>
    </div>

    <script>
        new Vue({
            el: "#root",
            data: {
                lastName: '',
                firstName: '',
                count: 0,
                message: 'Go Fuck Yourself',
                isActive: true,
                isWork: false,
                styleObj: {
                    height: '50px',
                    width: '100px',
                    color: 'red' ,
                    fontSize: '50px',
                    backgroundColor: 'blue'
                },
                items: [
                    'foo',
                    'bar',
                    'foz',
                    'baz'
                ]
            },
            computed: {
                fullName: function() {
                    return this.lastName + ' ' +this.firstName
                },
                reversedMessage () {
                    return this.message.split('').reverse().join('')
                },
                now () {
                    return Date.now()
                }
            },
            watch: {
                fullName: function() {
                    this.count++
                }
            }

        })
    </script>
</body>
</html>